
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 20px;
    text-align: center;
}
.card {
    display: inline-flex;
    flex-direction: column;
    width: 40%;
    height: 80%;

}
.header {
    color: white;
    background-image: url('images/background.jpg');
    padding: 20px;
    background-size: contain; /* scales image fully visible */
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.activities {
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #aac5e7;
}
.activity-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
h1, h2, h3 {
    font-size: 36px;
    margin-bottom: 10px;
    background-color: bisque;
    display: inline-block;
    color: #333;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

img {
    width: 93%;
    border-radius: 4%;}